<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Reset password</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="w-1/3 mx-auto p-5 border">
    <h2 class="text-2xl">NEST Store</h2>

    <div class="my-4">
        <p class="">Hi <span th:text="${name}"></span>,</p>
        <p>We've just received a request to reset your password for your account. Please, click the button below to perform the password reset process.</p>
    </div>

    <button class="my-2">
        <a th:href="${url}" class="px-4 py-2 rounded-md bg-purple-600 text-white hover:bg-purple-700">Reset password</a>
    </button>

    <div class="my-4">
        <p>Welcome to NEST!</p>
        <p>My App Team</p>
    </div>

    <p class="text-sm">If you did not initiate this request, please disregard email. This reset password link will
        expire in 24 hours.</p>
</div>
</body>
</html>